.project__info {
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
}

.project__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  background-color: black;
  /* margin: 20px; */
  width: 200px;
  text-align: center;
  color: white;
  border-radius: 100px;
  border: 5px inset deeppink;
  cursor: pointer;
  box-sizing: content-box;
}

.link:hover {
  background-color: gray;
}

.project__skills {
  font-weight: bold;
  text-transform: uppercase;
}

.project__image {
  max-width: 35%;
}
