.skills__container {
  display: flex;
  border-radius: 50px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../images/d.jpg");
  border: 1px solid deeppink;
}

.skills__icon {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.skills__list {
  grid-gap: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  text-transform: uppercase;
}

.skill {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__image {
  transform: rotate(0deg) scaleX(1);
  -webkit-transform: rotate(0deg) scaleX(1);
  -moz-transform: rotate(0deg) scaleX(1);
  -ms-transform: rotate(0deg) scaleX(1);
  -o-transform: rotate(0deg) scaleX(1);
}
