.about__container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
}

.about__image {
  width: 400px;
  height: 500px;
}

.about__text {
  padding: 50px;
}

.about__subtitle {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .about__text {
    padding: 30px;
  }
  .about__subtitle {
    margin-top: 15px;
  }
  .about__image {
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 950px) {
  .about__container {
    flex-direction: column-reverse;
  }
  .about__container {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .about__image {
    width: 200px;
    height: 250px;
  }
  .about__text {
    padding: 0 0 50px 0;
  }
  .about__subtitle {
    margin-top: 5px;
  }
}
