.nav__icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  color: deeppink;
}
.nav__icon:hover {
  opacity: 0.5;
}

@media screen and (max-width: 850px) {
  .nav__icon {
    width: 30px;
    height: 30px;
  }
}
