.list__item {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.nav__container {
  flex-direction: row;
  display: flex;
  padding: 50px;
  justify-content: flex-end;
}

.nav__item {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: white;
}

.list__item:first-of-type .nav__item {
  color: deeppink;
}

.nav__item:hover {
  opacity: 0.5;
}

.header__burger {
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-style: none;
  color: white;
  margin-right: 50px;
}

@media screen and (max-width: 1100px) {
  .header__burger {
    display: block;
  }

  .nav__container {
    display: none;
  }
}
