.nav {
  position: relative;
  margin-top: 8px;
}
.nav__mobile-button {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  display: none;
  text-align: right;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  padding: 5px;
}
.nav__icon {
  width: 30px;
  height: 5px;
  background: #fff;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.nav__icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 30px;
  height: 5px;
  background: #fff;
  display: inline-block;
  border-radius: 20px;
}
.nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 30px;
  height: 5px;
  background: #fff;
  display: inline-block;
  border-radius: 20px;
}
.nav__container {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.nav__item {
  margin-left: 58px;
}
.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: white;
}
.nav__link_type_subscribe {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 1280px) {
  .nav__item {
    margin-left: 20px;
  }
  .nav__link {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    position: absolute;
    top: 5px;
    right: 0;
    height: 80vh;
    max-width: 100%;
    width: 350px;
    overflow: hidden;
    margin: 0;
  }
  .nav__mobile-button {
    display: inline-block;
    cursor: pointer;
  }
  .nav__container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px 0 0 50px;
    padding: 20px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: -250px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
  }
  .nav_opened {
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  .nav__item {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .nav__link {
    font-size: 24px;
  }
}
