.home__title {
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  -moz-text-fill-color: black;
  -webkit-text-fill-color: black;
  -moz-text-stroke-color: white;
  -webkit-text-stroke-color: white;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 1px;
}

.home__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: white;
  margin-bottom: 20px;
}

.home__container {
  margin-top: -38%;
  /* background-color: brown; */
}

.home__text {
  padding: 50px;
}
