.container {
  width: 100%;
  /* margin: auto; */
  padding: 50px;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 24px;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: deeppink;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  cursor: pointer;
  letter-spacing: 0.0125em;
  background-color: black;
  width: 200px;
  text-align: center;
  color: white;
  border-radius: 100px;
  border: 5px inset deeppink;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
}

.button:hover {
  background-color: gray;
}

.image {
  padding: 30px;
  margin: 50px 20px;
  max-width: 500px;
  min-height: 500px;
  transform: rotate(+5deg) scaleX(1);
  z-index: 0;
  -webkit-transform: rotate(+5deg) scaleX(1);
  -moz-transform: rotate(+5deg) scaleX(1);
  -ms-transform: rotate(+5deg) scaleX(1);
  -o-transform: rotate(+5deg) scaleX(1);
  border: 10px inset deeppink;
}
