.container {
  width: 100%;
  margin: auto;
  padding: 50px;
  font-family: Roboto, Arial, sans-serif;
}

p {
  font-size: 24px;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #f44336;
}

.button {
  cursor: pointer;
  background: black;
  color: #fff;
  width: 222px;
  height: 54px;
  border: none;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 128.7%;
  letter-spacing: 0.0125em;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 425px) {
  .button {
    width: 100%;
  }
}
