.footer__container {
  font-style: normal;
  text-align: center;
  background-image: url("../../images/a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__title {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__copyrights {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (max-width: 550px) {
  .footer__copyrights {
    font-size: 12px;
    margin-top: 10px;
  }
  .footer__title {
    margin-bottom: 10px;
  }
  .footer__container {
    background-position: top;
  }
}
